.footerBlock {
    min-height: 50vh;
    background-color:#d4ffc0 ;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.name {
    display: flex;
    width: 100%;
    justify-content: center;
}

.title {
    background-color: lightgray;
}

.footer {
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.socialIcons {
    width: 60px;
    height: 60px;
    background-color: lightgray;
}